.brand-bar{
    width: 100%;
    min-height: 120px;

    display:flex;
    align-items: center;
    justify-content: space-around;

    padding: 25px 5%;
    gap: 30px;

    background-color: #333;
    color: #fff;
}

.brand-bar span{
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 768px){
    .brand-bar{
    min-height: 160px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    justify-content: center;
    
    padding: 25px 20px;
    }

    .brand-bar span{
        font-size:18px;
    }
}