.newsletter {
  width: 90%;
  margin: 60px auto;

  padding: 30px;

  background-color: thistle;
  color: antiquewhite;

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 25px;
}

.newsletter h2 {
  font-size: 32px;
  font-weight: 900;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.newsletter-form input {
  height: 40px;
  padding: 0 15px;

  border: none;
  border-radius: 20px;
  outline: none;
}

.newsletter-form button {
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;

    align-items: stretch;
    padding: 25px 20px;
  }

  .newsletter h2 {
    font-size: 21px;
  }

  .newsletter-form {
    width: 100%;
  }
}
