.product-details{
    width: 90%;
    max-width: 1200px;

    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.product-details image{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 20px;
    background-color: bisque;
}

.product-details image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-details-info{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}

.product-details-rating{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.product-details-rating span:first-child{
    letter-spacing: 3px;
}

.product-details-info h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.product-description{
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.color-options{
    display: flex;
    gap: 12px;
    margin: 15px 0 25px;
}

.color{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    border-radius: 2px solid #245624;
    cursor: pointer;
}

.colo.black{
    background-color: #000;
}

.color.white{
    background-color: #fff;
}

.color.green{
    background-color: #245624;
}

.size-optins{
    display:flex;
    flex-wrap: wrap;

    gap:10px;
    margin:  15px 0 30px;
}

.size-options button{
    border: none;

    background-color: #0f0f0f0f;
    padding: 12px 20px;
    border-radius: 20px;

    cursor: pointer;
}

.cart-controls{
    display: flex;

    gap: 15px;
}

quantity{
    display: flex;
    align-items: center;
    background-color: #0f0f0f0f;
    border-radius: 25px;
    padding: 2px 15px;
}

.quantity button{
    border: none;
    background: none;

    font-size: 20px;
    cursor: pointer;
}

.quantity span{
    padding: 0 20px;
}

add-cart{
    flex: 1;
    border: none;
    border-radius: 25px;

    background-color: silver;
    color:#000;

    cursor:pointer;
    font-size: 15px;
}



@media (max-width: 768px){
    .product-details{
        width: calc(100%-40px);
        margin: 30px auto;
        grid-template-columns: 1fr;
    }

    .product-details-info h1{
        font-size: 30px;
    }

    .product-details-info h2{
        font-size: 25px;
    }

    .cart-controls{
        width: 100%;
    }

    .quantity{
        flex-shrink:0;
    }
}